/** Variables
 ---------------------------------------------------------*/
 :root {
    --nav-border-light-grey: #E8E8E8;
    --body-bg-grey: #F0F0F0;
    --hover-text-nav: #00e64d;
    --primary-text-color: #808080;
}


/** Global Reset
 ---------------------------------------------------------*/
 * {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    line-height: 1.5;
    font-size: 1.4rem;
    background-color: var(--body-bg-grey);
}


/** Reuseable Classes
 ---------------------------------------------------------*/
 .title-content {
    font-size: 1.3rem;
    text-transform: uppercase;
 }


/** Navigation
 ---------------------------------------------------------*/
 .navigation {
    height: 6.5rem;
    border: 2px var(--nav-border-light-grey) solid;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    background-color: white;
}

.logo-text {
    border-right: 2px var(--nav-border-light-grey) solid;
    font-weight: 700;
    letter-spacing: .5rem;
    width: 15%;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 auto;
    align-self: stretch;
}

.logo-text:hover {
    color: var(--hover-text-nav);
}

.left-nav {
    width: 75%;
    border-right: 2px var(--nav-border-light-grey) solid;
    display: flex;
    flex: 0 1 auto;
    align-self: stretch;
    
}

.user-nav {    
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin: 0 1.5rem;
    font-weight: 300;
    color: var(--primary-text-color);
    list-style: none;
    text-align: center;
    letter-spacing: .25rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.nav-item:hover {
    color: var(--hover-text-nav);
}

.nav-item:not(:last-child) {
    padding-right: 2rem;
    border-right: 2px var(--nav-border-light-grey) solid;
}

.right-nav {
    width: 10%;
    flex: 0 1 auto;
    align-self: stretch;
}