/** Variables
 ---------------------------------------------------------*/
:root {
    --nav-border-light-grey: #E8E8E8;
    --body-bg-grey: #F0F0F0;
}


/** Global Reset
 ---------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    line-height: 1.5;
    font-size: 1.4rem;
    background-color: var(--body-bg-grey);
}


/** Navigation
 ---------------------------------------------------------*/
.navigation {
    height: 6.5rem;
    border: 1px var(--nav-border-light-grey) solid;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    background-color: white;
}

.logo-text {
    border-right: 1px var(--nav-border-light-grey) solid;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5rem;
    width: 20%;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 1 auto;
    align-self: stretch;
}

.left-nav {
    width: 70%;
    display: flex;
    flex: 0 1 auto;
    align-self: stretch;
    
}

.user-nav {    
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    margin: 0 1.5rem;
    font-size: 1.3rem;
    font-weight: 300;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .25rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.nav-item:not(:last-child) {
    padding-right: 2rem;
    border-right: 1px var(--nav-border-light-grey) solid;
}

.right-nav {
    background-color: bisque;
    width: 10%;
    flex: 0 1 auto;
    align-self: stretch;
}